* {
	margin : 0;
 	padding: 0;
}
#app-container {
    margin-top: 10px;
    width: 960px;
    margin: 0 auto;
}
body {
    text-align: center;
    font-family: Verdana;
}
header h2{
	padding: 30px;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
input[type=text]:focus {
    border: none;
}
#load-screen {
    width: 100%;
    height: 1600px;
    background: #000;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
}
#loading {
   	color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}    
#map-canvas { 
  	width: 700px;
  	height: 450px; 
  	margin: 0 auto; 
  	padding: 0;
}
#route-block {
    /*display: none;*/
}
#route-finder {
    width: 100%;
    height:25px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: 1px solid skyblue;
    background-color: skyblue;
}
#route-id {
    width: 100%;
    height:25px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: 1px solid skyblue;
    background-color: skyblue;
}
#route-id-button {
    display: inline-block;
    margin: 10px;
    height: 40px;
    width: 130px;
    line-height: 40px;
    text-align: center; 
    color: white;
    background-color: #ffabab;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}
#route-search-field {
    width: 120px;
}
#route-search-wrapper {
    display: inline-block;
}
#route-search-display {
    visibility: hidden;
    font-size: 12px;
}
#route-select {
    width: 120px;
    margin: 0 auto;
}
#selection-container {
    
}

