* {
	margin : 0;
 	padding: 0;
}
#app-container {
    margin-top: 10px;
    width: 960px;
    margin: 0 auto;
}
body {
    text-align: center;
    font-family: Verdana;
}
header {
	
}
input[type=text]:focus {
    border: none;
}
#load-screen {
    width: 100%;
    height: 1600px;
    background: #000;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
}
#loading {
   	color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}    
#map-canvas { 
  	width: 700px;
  	height: 450px; 
  	margin: 0 auto; 
  	padding: 0;
}
#route-block {
    /*display: none;*/
}
#route-finder {
    margin: 15px;
    border: none;
}
#route-id-button {
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    border: 1px black solid;
    cursor: pointer;
}
#route-search-wrapper {
    display: inline-block;
}
#route-search-display {
    visibility: hidden;
}
#route-select {
    width: 170px;
    display: inline-block;
    margin: 0 auto;
}
#route-selection-wrapper {
    display: inline-block;
    vertical-align: top;
    /*border-bottom: 1px #aaa solid;*/
}

