* {
	margin : 0;
 	padding: 0;
}
#alert-flag {
    display: none;
    width: 500px;
    background-color: red;
}
#alert-incident {
    display: none;
}
#app-container {
    margin-top: 10px;
    width: 960px;
    margin: 0 auto;
}
body {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #FFE4AA;
}
button, input {
    font-family: 'Open Sans Condensed', sans-serif
}
header {
    text-align: left;
}
header h2{
	padding: 30px;
}
.highlight {
    background-color: #D7EFF7;
}
.ib {
    display: inline-block;
    vertical-align: top;
}
#info-main {
    width: 90%;
    margin: 0 auto;
}
#info-stop-schedule-container {
    display: none;
    height: 300px;
    width: 100%;
    overflow: hidden;
    background-color: #801D15;
    color: #ffffff;
    border-radius: 5px;
}
#info-stop-schedule {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 18px;
}
#info-stop-schedule ul li {
    font-size: 20px;
    list-style-type: none;
}
#information-container {
    margin-bottom: 40px;
}
input[type="text"]:focus , input[type="password"]:focus , input[type="email"]:focus {
    outline:none; 
    border-color:#9ecaed;
    box-shadow:0 0 15px #9ecaed;
}
#load-screen {
    width: 100%;
    height: 1600px;
    background: #000;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
}
#loading {
   	color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}    
#map-container {
    display: none;
    width: 90%;
    height: 450px;
    padding: 40px 0 40px 0;
    margin: 0 auto;
}
#map-canvas { 
  	width: 100%;
  	height: 100%; 
  	margin: 0 auto; 
  	padding: 0;
  	border-radius: 5px;
  	border: 1px #550600 solid;
  	box-sizing: border-box;
}
#map-title {
    display: none;
    margin-top: 40px;
    background-color: #D49D6A;
    padding: 40px;
}
#route-block {
    /*display: none;*/
}
#route-block, #route-search-title {
    font-size: 28px;
}
#route-container {
    background-color: #FFE4AA;
    /*padding: 10px;*/
    /*height: 80px;*/
}
#route-container>div, #route-container input, #route-container select, #route-id-button {
    box-sizing: border-box;
}
#route-search-input {
    width: 100%;
    height:25px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: black;
}
#route-id {
    width: 100%;
    height:25px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: black;
}
#route-id-button {
    display: inline-block;
    height: 80px;
    width: 130px;
    line-height: 40px;
    text-align: center; 
    color: white;
    background-color: #D4726A;
    font-size: 18px;
    border: 1px #D4726A solid;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}
#route-search {
    height: 100%;
    width: 200px;
    /*padding: 8px 8px 0 8px;*/
    margin: 0 auto;
    border-radius: 5px;
}
#route-search-wrapper {
    display: inline-block;
}
#route-search-display {
    visibility: hidden;
    font-size: 12px;
    height: 20px;
}
#route-select {
    height: 100%;
    width: 200px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-radius: 5px;
}
#scroll-top-arrow {
    position: fixed;
    top: 70%;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #FF7575;
    border-top: 3px #FFB0AA solid;
    border-left: 3px #FFB0AA solid;
    border-bottom: 3px #FFB0AA solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10000;
}
#scroll-top-inside {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    /*background-color: #FFB0AA;*/
    border-left: 10px solid transparent;
    border-bottom: 20px solid #FFB0AA;
    border-right: 10px solid transparent;
}
#top-header {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px;
}

@media screen and (max-width: 740px) {
    #map-container {
        width: 90%;
        height: 350px;
    }
    #info-stop-schedule-container {
        height: 200px;
    }
	#route-container>div, #route-id-button {
	    display: block;
	    width: 80%;
	    margin: 0 auto;
	}
	#route-id-button {
	    height: 40px;
	}
}
@media screen and (max-width: 420px) {

}