<!--<div class="page-header">-->
<!--	<h3>Stop Schedule for <%= StopName %></h3>-->
<!--	<p><%= TripHeadsign %> <%= TripDirection %></p>-->
<!--</div>-->
<!--<div>	-->
<!--	<ul>-->
<!--	<% _.each(ScheduleTime, function(stop) { %> -->
<!--		<li><%= stop %></li>-->
<!--	<% }); %>-->
<!--	</ul>-->
<!--</div>-->
<div class="panel panel-default">
	<div class="alert-success" id="stop-schedule-header">
		<h4>Stop Schedule for <%= StopName %></h4>
		<p><%= TripHeadsign %> <%= TripDirection %></p>
	</div>
	<div class="panel-body">	
		<ul>
		<% _.each(ScheduleTime, function(stop) { %> 
			<li><%= stop %></li>
		<% }); %>
		</ul>
	</div>
</div>